{% for vhost in vhosts %}
    {% if vhost.port == 80 %}
<VirtualHost *:{{ vhost.port | default('80') }}>
  ServerName {{ vhost.server_name }}
  DocumentRoot {{ vhost.document_root }}
  ServerAdmin {{ vhost.server_admin }}
  <Directory "{{ vhost.directory.path }}">
     AllowOverride {{ vhost.directory.allow_override | default('All') }}
     Options {{ vhost.directory.options | default('Indexes FollowSymLinks') }}
     Order {{ vhost.directory.order | default('allow,deny') }}
     Allow {{ vhost.directory.allow | default('from all') }}
  </Directory>
</VirtualHost>
    {% endif %}
{% endfor %}
